.card {
  width: 100%;
  max-width: rem(480);
  margin: rem(32) auto;
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);

  @mixin dark {
    background-color: var(--mantine-color-gray-9);
  }
}
