.layout {
  min-height: 100vh;
  gap: 0;

  @mixin light {
    background-color: var(--mantine-color-gray-3);
  }

  @mixin dark {
    background-color: var(--mantine-color-bg-5);
  }
}

.main {
  flex-grow: 1;
  padding-top: rem(50);
}
