.card {
  padding: 0;

  @mixin dark {
    background-color: var(--mantine-color-gray-9);
  }

  @mixin hover {
    cursor: pointer;
    box-shadow: var(--mantine-shadow-lg);

    @mixin dark {
      background-color: var(--mantine-color-gray-8);
    }
  }
}

.avatarBox {
  position: relative;
  min-width: rem(160);
  width: rem(160);
  height: rem(160);

  img {
    width: rem(160);
    height: rem(160);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    min-width: rem(60);
    width: rem(60);
    height: rem(60);
    margin: rem(10) 0 0 rem(10);

    img {
      border-radius: rem(10);
      width: rem(60);
      height: rem(60);
    }
  }
}

.inner {
  height: 100%;
  align-content: stretch;
}

.row {
  flex-wrap: wrap;
  gap: rem(2) rem(8);
}

.badge {
  position: absolute;
  top: rem(8);
  left: rem(8);
  font-size: rem(10);
  text-transform: none;

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.content {
  padding: rem(10);
}
